@import "./public/fonts/stylesheet.css";

.text {
  font-family: "Yandex Sans Text", sans-serif;
}

.xs {
  font-size: 12px;
  line-height: 16px;
}

.sm {
  font-size: 14px;
  line-height: 20px;
}

.md {
  font-size: 16px;
  line-height: 24px;
}

.lg {
  font-size: 20px;
  line-height: 28px;
}

.thin {
  font-weight: 100;
}

.light {
  font-weight: 300;
}

.normal {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}
