.color-pallete-gray {
  background-color: white;
  border-color: white;
  color: black;
}

.color-pallete-yellow {
  background-color: var(--react-lavka-color-primary);
  border-color: var(--react-lavka-color-primary);
  color: var(--react-lavka-color-primary);
}

.variant-outline {
  background-color: transparent;
}

.size-lg {
  height: var(--react-lavka-size-lg);
}

.radius-rounded {
  border-radius: var(--react-lavka-radius-round);
}

.radius-lg {
  border-radius: var(--react-lavka-radius-lg);
}

.radius-md {
  border-radius: var(--react-lavka-radius-md);
}
.radius-xl {
  border-radius: var(--react-lavka-radius-xl);
}

.shadow-md {
  box-shadow: var(--react-lavka-shadow-md);
}
