.button {
  display: flex;
  align-items: center;
  border: unset;
  padding: 0 12px 0 12px;
  justify-content: center;
  cursor: pointer;
}

.button:disabled {
  background-color: rgba(101,92,78,.1);
}

.size-icon {
  padding: 4px;
}
