.cart-sidebar {
  height: calc(88dvh - var(--react-lavka-header-height));
  position: sticky;
  top: 102px;
  min-width: var(--react-lavka-cart-sidebar-width);
}

.cart-sidebar-list {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 10px;
}
